#========================================
#||         ORCa-Engine (Rust)         ||
#========================================

# Cargo build artifacts
**/target/

#========================================
#||          ORCa-UI (Python)          ||
#========================================

# Python byte-compiled files
__pycache__/
*.py[cod]

# Virtual Environments
.env
.venv/
**/env/
**/venv/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

#========================================
#||          Common Files             ||
#========================================

# Logs and data
*.log
*.csv
*.hdf5
*.h5

# Generated images
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# Splash Images
!orca-splash.png
!orca-thumbnail.png